body{
    text-align: center;
    background-color: darkgreen;
}

h1{
font-family:Helvetica;
font-size: 50px;
}

h2{
    font-family: sans-serif;
    color: blue;
    font-size: 20px;
}

p{
    font-family: arial;
}

img{
    max-width: 100%;
    height: 400px;
}

#img-caption{
font-family: helvetica;
}